<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>The climbing project</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/main.js"></script>
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
	<div class="wrapper">
		<nav>
			<div class="logo">Climb BETA</div>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/training">Training</a>
				</li>
				<li>
					<a href="nutrition">Nutrition</a>
				</li>
				<li>
					<a href="/pictures">Pictures</a>
				</li>
				<li>
					<a class="active" href="#">Log in</a>
				</li>
			</ul>
		</nav>
	</div>
	{{{ body }}}

</body>

</html>