<div class="wrapper">
    <nav>
        <div class="logo">LOGO</div>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Training</a>
            </li>
            <li>
                <a href="#">Nutrition</a>
            </li>
            <li>
                <a class="active" href="#">Log in</a>
            </li>
        </ul>
    </nav>
</div>
