<div class="wrapper">
    <nav>
        <div class="logo">BATA Climb</div>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Training</a>
            </li>
            <li>
                <a href="#">Nutrition</a>
            </li>
            <li>
                <a class="active" href="#">Log in</a>
            </li>
        </ul>
    </nav>
</div>
<section class="sec1" alt="#"></section>
<section class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minus magnam pariatur odio provident dolorem, incidunt error, ex dolores quos aut accusamus commodi. Fuga voluptate earum exercitationem quam illo molestiae error? Animi qui ex vel quae labore voluptatum rerum totam exercitationem ut alias omnis, quisquam dolore neque ea quam quasi deleniti quo porro, blanditiis impedit temporibus repellendus odit commodi. Eius tempore itaque laborum autem quibusdam eum expedita corporis, placeat beatae neque molestias, fuga suscipit, fugiat vitae tempora rem minus mollitia. Modi sapiente temporibus soluta beatae architecto culpa numquam minus id, esse porro commodi molestiae labore dolor dolores vel, sit repudiandae?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minus magnam pariatur odio provident dolorem, incidunt error, ex dolores quos aut accusamus commodi. Fuga voluptate earum exercitationem quam illo molestiae error? Animi qui ex vel quae labore voluptatum rerum totam exercitationem ut alias omnis, quisquam dolore neque ea quam quasi deleniti quo porro, blanditiis impedit temporibus repellendus odit commodi. Eius tempore itaque laborum autem quibusdam eum expedita corporis, placeat beatae neque molestias, fuga suscipit, fugiat vitae tempora rem minus mollitia. Modi sapiente temporibus soluta beatae architecto culpa numquam minus id, esse porro commodi molestiae labore dolor dolores vel, sit repudiandae?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minus magnam pariatur odio provident dolorem, incidunt error, ex dolores quos aut accusamus commodi. Fuga voluptate earum exercitationem quam illo molestiae error? Animi qui ex vel quae labore voluptatum rerum totam exercitationem ut alias omnis, quisquam dolore neque ea quam quasi deleniti quo porro, blanditiis impedit temporibus repellendus odit commodi. Eius tempore itaque laborum autem quibusdam eum expedita corporis, placeat beatae neque molestias, fuga suscipit, fugiat vitae tempora rem minus mollitia. Modi sapiente temporibus soluta beatae architecto culpa numquam minus id, esse porro commodi molestiae labore dolor dolores vel, sit repudiandae?</p>
</section>
