footer {
    text-align: right;
    font-size: 18gti px;
    margin: 0 auto;
    padding: 30px 70px 30px 30px;
    background: rgba(0,0,0,0.8);  
}

footer a {
    text-decoration: none;
    color: #fff;
    background: #ce0202;
    padding: 12px 30px;
    display: inline;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}