footer {
    text-align: right;
    font-size: 20px;
    opacity: 0.85;
    margin: 0 auto;
    padding: 30px 70px 30px 30px;
    color: #fff;
    background: rgba(0,0,0,1);  
}

footer p {
    background: #ce0202;
    padding: 12px 30px;
    display: inline;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}