.content {
    margin-top: 50px;
}

.content ul {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    width: 900px;
    margin: 30px auto;
    font-size: 20px;
    line-height: 30px;
    opacity: 0.5;
}

.content ul li {
    padding: 10px;
    background: #ce0202;
    border: 2px;
    border-color: black;
}